<!DOCTYPE html>
<html>
    {% extends "layout.html" %}
    <head>
        <title>chat</title>
    </head>
    {% block content %}
    <body>
        <div id="chat-box" style="border: 1px solid #ccc; height: 300px; overflow-y: scroll; display: flex; flex-direction: column-reverse;">

        </div>
        <form id="message-form">
            <input type="text" id="message-input" placeholder="Type a message" autocomplete="off" required>
            <button type="submit">Send</button>
        </form>
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" charset="utf-8">
            const currentUsername = "{{ current_user.username if current_user else 'null' }}";
            const room_id = "{{ id }}";

            document.addEventListener("DOMContentLoaded", function() {
                const chatBox = document.getElementById("chat-box");
                let offset = 0;
                const messageLimit = 30;
                let loading = false;
                let allLoaded = false;

                function loadMessages(initialLoad = false) {
                    if (loading || allLoaded) return;
                    loading = true;
                    
                    fetch(`/load-messages/{{ id }}?offset=${offset}&limit=${messageLimit}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.length === 0) {
                            allLoaded = true;
                        } else {
                            appendMessages(data);
                            offset += messageLimit;
                            loading = false;
                        }
                        loading = false;

                        if (initialLoad) {
                            chatBox.scrollTop = chatBox.scrollHeight;
                        }
                        })
                        .catch(error => {
                            console.error("Error loading messages:", error);
                            loading = false;
                        });
                }

                function appendMessages(messages) {
                    const container = document.createDocumentFragment();
                    messages.forEach(message => {
                        const messageElement = document.createElement('div');
                        messageElement.className = 'message';
                        messageElement.id = `message-${message.message_id}`;

                        let deleteButtonHtml = '';
                        if (currentUsername === message.username) {
                            deleteButtonHtml = `<button class="delete-message">Delete</button>`;
                        }

                        messageElement.innerHTML = `
                            <p><strong>${message.username}</strong> at ${new Date(message.sent_at).toLocaleString()}</p>
                            <p>${message.content}</p>
                            ${deleteButtonHtml}
                        `;

                        container.appendChild(messageElement);

                        if (deleteButtonHtml) {
                            const deleteButton = messageElement.querySelector('.delete-message');
                            deleteButton.addEventListener('click', function() {
                                socket.emit('delete-message', {
                                    message_id: message.message_id,
                                    room_id: room_id
                                });
                            });
                        }
                    });
                    chatBox.appendChild(container);


                }

                loadMessages(true);
                
                chatBox.addEventListener('scroll', () => {
                    if ( -chatBox.scrollTop + chatBox.clientHeight >= chatBox.scrollHeight && !loading && !allLoaded) {
                        loadMessages();
                    }
                });

                socket.emit('join', { room_id: "{{ id }}"});

                socket.on('join-confirmation', function(data) {
                    console.log(data.msg);
                });
                
                document.getElementById("message-form").onsubmit = function(event) {
                    event.preventDefault();
                    var messageInput = document.getElementById("message-input");
                    var messageText = messageInput.value;

                    if (messageText.length < 1 || messageText.length > 200) {
                        alert('Please enter a message between 1-500 characters.');
                        return;
                    }
                    
                    socket.emit('send-message', {
                        room_id: "{{ id }}",
                        message: messageText
                    });
                    
                    messageInput.value = "";
                };

                socket.on('receive-message', function(data) {
                    const messageElement = document.createElement('div');
                    messageElement.className = 'message';

                    messageElement.innerHTML = `
                        <p><strong>${data.username}</strong> at ${new Date(data.sent_at).toLocaleString()}</p>
                        <p>${data.message}</p>
                    `;
                    chatBox.insertBefore(messageElement, chatBox.firstChild);
                });

                socket.on('message-deleted', function(data) {
                    const messageId = data.message_id;
                    const messageElement = document.getElementById(`message-${messageId}`);
                    if (messageElement) {
                        messageElement.remove();
                    }
                });
            });
        </script>
        {% endblock %}
    </body>
</html>
