<!DOCTYPE html>
<html>
    {% extends "layout.html" %}
    {% block content %}
    <head>
        {% block title %}new{% endblock %}
    </head>
    <body>
        <div>
            <h2>Create New Post</h2>
            <form id="post-form" action="/new" method="POST">
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="post-title" name="title" required>
                </div>
                <div>
                    <label for="content">Content:</label>
                    <textarea id="post-content" name="content" required></textarea>
                </div>
                <button type="submit">Send</button>
            </form>
        </div>
        <script type="text/javascript" charset="utf-8">
            document.addEventListener("DOMContentLoaded", function() {
                const form = document.getElementById('post-form');
                
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); 

                    const title = document.getElementById('post-title').value;
                    const content = document.getElementById('post-content').value;

                    if (title.length < 1 || title.length > 200) {
                        alert('Please enter a title between 1-200 characters.');
                        event.preventDefault();
                        return;
                    }

                    if (content.length < 1 || content.length > 2000) {
                        alert('Please enter content between 1-1000 characters.');
                        event.preventDefault();
                        return;
                    }

                    const formData = new FormData(form);

                    
                    fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRF-TOKEN': getCookie('csrf_access_token')
                        },
                        body: new URLSearchParams(formData)
                    })
                    .then(response => {
                        if (response.ok) {
                            location.href = '/';
                        } else {
                            console.error('Error submitting post:', response.statusText);
                        }
                    })
                    .catch(error => {
                        console.error('Error submitting post:', error);
                    });
                });
            });
        </script>
    </body>
    {% endblock %}
</html>